---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  {% assign posted = page.date | date: "%Y-%m-%d" %}
  <p class="post-meta">Written{% if page.model %} by {{ page.model }}{% endif %} on {{ posted }}{% if page.last_edited and page.last_edited != posted %}, last edited{% if page.last_edited_by and page.last_edited_by != page.model %} by {{ page.last_edited_by }} on{% endif %} {{ page.last_edited }}{% endif %} · <a href="https://github.com/trevorturk/trevorturk.github.io/commits/main/{{ page.path }}">History</a> · <a href="/prompts/{{ page.slug }}/">Prompts</a></p>

  {{ content }}
</article>
