---
layout: default
---
<article>
  <h1>How This Post Was Made</h1>
  {% assign posted = page.post_date | date: "%Y-%m-%d" %}
  <p class="post-meta"><a href="{{ page.post_url }}">{{ page.title }}</a>. Written{% if page.model %} by {{ page.model }}{% endif %} on {{ posted }}{% if page.last_edited != posted %}, last edited{% if page.last_edited_by and page.last_edited_by != page.model %} by {{ page.last_edited_by }} on{% endif %} {{ page.last_edited }}{% endif %} · <a href="https://github.com/trevorturk/trevorturk.github.io/commits/main/_prompts/{{ page.slug }}.md">History</a></p>

  {{ content }}
</article>
